.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tableHolder{


}
.Start-button{
  height: 10%;
  font-size: 60px;
  text-align: center;
  color: brown;
  background-color:cornsilk ;
}
.Text{
  height: 50%;
  font-size: 60px;
  text-align: center;
  color: crimson;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Button-icon{
  align-content: center;
  height: 8vmin;
  width:  8vmin;
  pointer-events: none;
}
.square{
  height: 10vmin;
  width:  10vmin;
}
.Number{
  font-size: 60px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .square{
    height: 7vmin;
    width:  7vmin;
  }
  .Start-button{
    font-size: 30px;
    text-align: center;
    color: brown;
    background-color:cornsilk ;
  }
  .Number {
    font-size: 20px;
  }

  .Start-button {
    font-size: 50px;
    text-align: center;
    color: brown;
    background-color: cornsilk;
  }
  .Text{
    font-size: 30px;
    text-align: center;
    color: crimson;
  }
  .Button-icon{
    align-content: end;
    height: 4vmin;
    width:  4vmin;
    pointer-events: none;
  }
  .App-logo {
    height: 20vmin;
    pointer-events: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
